body {
    background: #afadad;
}

p {
    text-align: center;
}

#banner {
    width: 100%;
}

.principal {
    background: #898585
    padding 30px;
}

.titulo-principal{
    padding-left: 20px;
}
.titulo-centralizado {
    text-align: center;
}

p {
    text-align: center;
}

#missao {
    font-size:  20px
}
 
em strong {
    color: red;
}

.itens {
    font-size: italic;
}

.beneficios {
    background: #FFFFFF;
    padding: 20px;
}

h3 {
    text-align: center;
}

ul {
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagembeneficios {
    width: 50%;
}

footer {
    text-align: center;
    background: url("barba.jpg")
    padding: 10px 0;
}

.logobranco {
    width: 20%;
}